.EditorWindows {
    display: flex;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 400px;
    width: 50%;
    border-radius: 5px;
    margin-right:5px;
}

body {
    color:dimgray;
    font-family: monospace;
    cursor: default;
}

.button {
    margin-top: 10px;
    font-family: monospace;
    font-size: 16px;
}

#runbutton {
    cursor: pointer;
}

#debugbutton:not(:disabled) {
    cursor: pointer;
}

#stepbutton:not(:disabled) {
    cursor: pointer;
}

.results {
    position: absolute;
    left: 50%;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.syscall_output {
    display: inline;
}

.show-memory-id-on-hover {
    position: relative;
}

.show-memory-id-on-hover:hover::after {
    content: attr(memory-id);
    position: absolute;
    visibility: visible;
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    width: 100px;
    top: -30px;
    transform: translateX(-50%);
  }

.show-memory-id-on-hover[memory-id=""]::after {
    display: none;
}

#prettyPretty {
    border: 1px solid #eee;
    border-radius: 5px;
    flex: 1;
    padding: 4px;
}

#assign {
    color:darkorange;
}

#opr {
    color:steelblue;
}

#label {
    color:forestgreen;
}

#constant {
    color:brown;
}

.highlight-line {
    background-color:yellow;
}

#semicolon {
    padding-right: 5px;
}